@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Serif+Georgian:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* smartfon  */
@media (min-width: 320px) and (max-width: 991px) {
  body {
    width: 375px;
    margin: 0 auto;
  }

  .basliq1 {
    width: 52.19px;
    height: 30.75px;
    margin: 36px 0px 0px 35px;
  }

  .kalendar-ul {
    margin-top: 44px;
    display: flex;
    list-style-type: none;
  }

  .kalendar li {
    margin-left: 35px;
    font-family: "Roboto";
    margin-left: 10px;
  }

  .kalendar-img {
    width: 10.25px;
    height: 9.79px;
  }

  .basliq-kino h1 {
    font-family: "Roboto Slab";
    width: 292.63px;
    height: 88.53px;
    margin-left: 35.47px;
    margin-top: 8px;
  }

  .basliq-kino p {
    font-family: "Roboto";
    width: 212.4px;
    height: 28.96px;
    margin-left: 35.74px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
  }

  .kino-foto {
    width: 141.66px;
    height: 165.89px;
    margin-left: 201px;
  }

  .andrey {
    background: #1e4681;
    border-radius: 2.32986px;
    width: 225.36px;
    height: 93.19px;
    margin-left: 37.98px;
    margin-top: 47px;
    font-size: 10px;
    font-family: "Roboto";
    font-style: normal;
  }

  .andrey p {
    color: white;
    width: 212.4px;
    height: 28.96px;
    padding: 8px 12px 31px 12px;
    line-height: 150%;
  }

  .andrey span {
    width: 130.7px;
    height: 21.27px;
    padding: 68px 7px 3px 67px;
    line-height: 130%;
  }

  .kurse {
    margin-left: 36px;
    font-style: normal;
  }

  .kurse h2 {
    width: 170.08px;
    height: 43.34px;
    margin-top: 75px;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 26px;
  }

  .kurse p {
    width: 308.47px;
    height: 174.27px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-top: 5px;
  }

  .kurse-img {
    width: 146.32px;
    height: 146.78px;
    margin-left: 114px;
    margin-top: 56px;
  }

  .kursa-altligi {
    width: 233px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto";
    font-style: normal;
    margin-left: 35px;
    margin-top: 59px;
  }

  .kursa-altligi h4 {
    width: 69.9px;
    height: 18.17px;
    font-weight: 700;
    font-size: 12px;
  }

  .kursa-altligi p {
    width: 86px;
    height: 18px;
    font-weight: 400;
    font-size: 10px;
  }

  .kursa-altligi2 {
    margin-left: 33px;
  }

  .kursa-altligi3 {
    margin-top: 34px;
  }

  .sec1 h2 {
    width: 310.8px;
    height: 43.34px;
    margin-left: 36px;
    margin-top: 76px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  }

  .format-altligi {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    font-family: "Roboto";
    font-style: normal;
    line-height: 130%;
  }

  .format-altligi h4 {
    color: #1e4681;
    width: 69.9px;
    height: 18.17px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 15px;
  }

  .format-div1 p {
    width: 180px;
    height: 48px;
    font-weight: 400;
    font-size: 10px;
  }

  .format-div2 p {
    width: 165px;
    height: 51px;
    font-weight: 400;
    font-size: 10px;
  }

  .format-div2 h4 {
    width: 100px;
  }

  .format-div3 h4 {
    margin-top: 20px;
  }

  .format-div3 p {
    width: 159px;
    height: 31px;
    font-weight: 400;
    font-size: 10px;
  }

  .sec2 {
    margin-left: 36px;
    font-style: normal;
  }

  .sec2 h2 {
    width: 310.8px;
    height: 43.34px;
    margin-top: 73px;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    margin-bottom: 10px;
  }

  .sec2 li {
    width: 299px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }

  .sec3 h2 {
    margin-left: 35px;
    margin-top: 85px;
    margin-bottom: 35px;
    width: 421.7px;
    height: 43.34px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  }

  .sec3-box {
    width: 185.92px;
    margin: 24px auto;
    background: #ffffff;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
  }

  .sec3-img {
    width: 185.92px;
    background: url(photo7);
  }

  .sec3-img img {
    width: 100%;
  }

  .sec3-box h4 {
    width: 170.08px;
    height: 34px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
  }

  .sec3-box p {
    width: 170.08px;
    height: 34px;
    padding-left: 8px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }

  .sec4 {
    height: 423px;
    margin-left: -1px;
    background: #efefef;
  }

  .sec4 h2 {
    width: 257px;
    height: 69px;
    padding-top: 42px;
    margin-left: 35px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  }

  .sec4-box {
    width: 308px;
    margin-left: 35px;
    margin-top: 35px;
    background: #ffffff;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
  }

  .sec4-p1 {
    width: 266px;
    padding-left: 21px;
    padding-top: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
  }

  .sec4-foto img {
    margin-top: 21px;
    height: 84px;
    padding-left: 21pox;
    background: url(1.png);
  }

  .sec4-box2 {
    display: flex;
  }

  .sec4-ad {
    width: 164.49px;
    margin-left: 13px;
    margin-top: 39px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 101.38%;
  }

  .sec5 {
    width: 100%;
    height: 363.46px;
    background: #9dc9c8;
  }

  .sec5-h2 {
    width: 224px;
    padding-left: 36px;
    padding-top: 62px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  }

  .sec5-p {
    margin-left: 36px;
    margin-top: 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  .sec5-span {
    width: 240px;
    font-size: 37px;
  }

  .sec5-box2 {
    display: flex;
    justify-content: last baseline;
  }

  .box2-box1 {
    width: 138px;
    height: 47px;
    margin-left: 34px;
    margin-top: 72px;
    margin-bottom: 62px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
  }

  .footer {
    width: 394px;
    height: 251px;
    background-color: black;
  }

  .footer-logo img {
    width: 53px;
    padding-top: 23px;
    margin-left: 37.85px;
  }

  .sosial-sebeke {
    display: flex;
    width: 15.38px;
    height: 15.38px;
    margin-left: 37px;
    margin-top: 14px;
    background: url(noroot4.png);
  }

  .sebeke {
    margin-left: 10px;
  }

  .elaqe-nom {
    margin-top: 37px;
  }

  .elaqe-nom a {
    margin-left: 10.83px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 101.38%;
  }

  .elaqe-nom img {
    width: 12.58px;
    height: 12.58px;
    margin-left: 37px;
    background: url(phone_white.png);
  }

  .il {
    color: white;
    margin-left: 37px;
    margin-top: 48px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
  }
}

/* tablet */
@media (min-width: 992px) and (max-width: 1279px) {
  body {
    width: 834px;
    margin: 0 auto;
  }
}

/* desktop */
@media (min-width: 1280px) {
  body {
    width: 1440px;
    margin: 0 auto;
    margin-left: 121px;
  }
  .basliq1 {
    width: 112px;
    margin-top: 21px;
  }

  .kalendar-ul {
    margin-top: 44px;
    display: flex;
    list-style-type: none;
  }

  .kalendar li {
    font-family: "Roboto";
  }

  .kimg {
    margin-left: 57px;
  }
  .kalendar-img {
    width: 22px;
    background: url(globe);
  }

  .basliq-kino h1 {
    width: 628px;
    font-family: "Roboto Slab";
    font-size: 80px;
    margin-top: 29px;
  }

  .basliq-kino p {
    width: 414px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    color: #000000;
  }

  .kino-foto {
    width: 304px;
    margin-left: 890px;
    margin-top: 0px;
  }
  .kino-foto img {
    width: 100%;
  }

  .andrey {
    margin-left: 409px;
    margin-top: 87px;
    width: 483.63px;
    height: 200px;
    background: #1e4681;
    border-radius: 5px;
  }

  .andrey p {
    width: 430.59px;
    font-family: "Roboto Slab";
    font-size: 25px;
    color: #ffffff;
    padding-left: 26px;
    padding-top: 19px;
  }

  .andrey span {
    padding-left: 185px;
    font-family: "Roboto";
    font-size: 20px;
  }

  .kurse h2 {
    width: 365px;
    margin-top: 173px;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 55px;
  }

  .kurse p {
    width: 662px;
    margin-top: 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
  }

  .kurse-img {
    width: 314px;
    margin-left: 973px;
  }

  .kurse-img img {
    width: 100%;
  }
  .kursa-altligi {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto";
    margin-top: 164px;
  }

  .kursa-altligi h4 {
    width: 150px;
    height: 39px;
    font-weight: 700;
    font-size: 25px;
  }

  .kursa-altligi p {
    width: 150px;
    font-weight: 400;
    font-size: 18px;
  }

  .kursa-altligi2 {
    margin-left: 95px;
  }

  .kursa-altligi3 {
    margin-left: 93px;
  }

  .sec1 h2 {
    margin-top: 178px;
    font-family: "Roboto Slab";
    font-size: 55px;
  }

  .format-altligi {
    margin-top: 89px;
    display: flex;
    font-family: "Roboto";
  }

  .format-altligi h4 {
    width: 215px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 25px;
    color: #1e4681;
  }

  .format-div1 p {
    margin-top: 5px;
    width: 223px;
    font-family: "Roboto";
    font-size: 18px;
  }

  .format-div2 p {
    margin-top: 5px;
    width: 271px;
    font-family: "Roboto";
    font-size: 18px;
  }
  .format-div2 {
    margin-left: 172px;
  }
  .format-div3 p {
    margin-top: 5px;
    width: 245px;
    font-family: "Roboto";
    font-size: 18px;
  }
  .format-div3 {
    margin-left: 113px;
  }

  .sec2 h2 {
    margin-top: 179px;
    width: 667px;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 55px;
  }

  .sec2 ul {
    margin-top: 21px;
  }
  .sec2 li {
    margin-top: 5px;
    width: 662px;
    font-family: "Roboto";
    font-size: 24px;
  }

  .sec3 h2 {
    margin-top: 248px;
    width: 905px;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 55px;
  }

  .sec3-div{
    margin-left: -37px;
    margin-top: 95px;
    display: flex;
    flex-wrap: wrap;
  }
  .sec3-box {
    margin-left: 37px;
    margin-top: 45px;
    width: 399px;
    height: 328px;
    background: #ffffff;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }

  .sec3-img {
    width: 399px;
  }

  .sec3-img img {
    width: 100%;
  }

  .sec3-box h4 {
    width: 365px;
    margin-left: 20px;
    margin-top: 11px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
  }

  .sec3-box p {
    width: 365px;
    margin-left: 19px;
    margin-top: 32px;
    font-family: 'Roboto';
    font-size: 25px;
  }

  
  .sec4 {
    margin-top: 121px;
    height: 780px;
    background: #EFEFEF;
  }

  .sec4 h2 {
    padding-top: 91px;
    margin-left: 121px;
    width: 987px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 55px;
  }

  .sec4-box {
    margin-top: 34px;
    margin-left: 126px;
    width: 791px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }

  .sec4-p1 {
    padding-left: 45px;
    padding-top: 40px;
    width: 700px;
    font-family: 'Roboto';
    font-size: 20px;
  
  }

  .sec4-foto img {
    margin-top: 26px;
    height: 199px;
    padding-left: 10pox;
  }

  .sec4-box2 {
    display: flex;
  }

  .sec4-ad {
    margin-left: 30px;
    margin-top: 50px;
    width: 353px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 30px;
  }

  .sec5 {
    width: 1440px;
    height: 780px;
    background: #9dc9c8;
  }

  .sec5-h2 {
    padding-left: 121px;
    padding-top: 179px;
    width: 908px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 55px;
  }

  .sec5-p {
    margin-left: 36px;
    margin-top: 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  .sec5-span {
    width: 240px;
    font-size: 37px;
  }

  .sec5-box2 {
    display: flex;
    justify-content: last baseline;
  }

  .box2-box1 {
    width: 138px;
    height: 47px;
    margin-left: 34px;
    margin-top: 72px;
    margin-bottom: 62px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
  }

}
/* 659 sec3
