@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Serif+Georgian:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* smartfon  */
@media (min-width: 320px) and (max-width: 991px) {
  body {
    width: 375px;
    margin: 0 auto;
  }

  .basliq1 {
    width: 52.19px;
    height: 30.75px;
    margin: 36px 0px 0px 35px;
  }

  .kalendar-ul {
    margin-top: 44px;
    display: flex;

    list-style-type: none;
  }

  .kalendar li {
    margin-left: 35px;
    font-family: "Roboto";
    margin-left: 10px;
  }

  .kalendar-img {
    width: 10.25px;
    height: 9.79px;
  }

  .basliq-kino h1 {
    font-family: "Roboto Slab";
    width: 292.63px;
    height: 88.53px;
    margin-left: 35.47px;
    margin-top: 8px;
  }

  .basliq-kino p {
    font-family: "Roboto";
    width: 212.4px;
    height: 28.96px;
    margin-left: 35.74px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
  }

  .kino-foto {
    width: 141.66px;
    height: 165.89px;
    margin-left: 201px;
  }

  .andrey {
    background: #1e4681;
    border-radius: 2.32986px;
    width: 225.36px;
    height: 93.19px;
    margin-left: 37.98px;
    margin-top: 47px;
    font-size: 10px;
    font-family: "Roboto";
    font-style: normal;
  }

  .andrey p {
    color: white;
    width: 212.4px;
    height: 28.96px;
    padding: 8px 12px 31px 12px;
    line-height: 150%;
  }

  .andrey span {
    width: 130.7px;
    height: 21.27px;
    padding: 68px 7px 3px 67px;
    line-height: 130%;
  }

  .kurse {
    margin-left: 36px;
    font-style: normal;
  }

  .kurse h2 {
    width: 170.08px;
    height: 43.34px;
    margin-top: 75px;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 26px;
  }

  .kurse p {
    width: 308.47px;
    height: 174.27px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-top: 5px;
  }

  .kurse-img {
    width: 146.32px;
    height: 146.78px;
    margin-left: 114px;
    margin-top: 56px;
  }

  .kursa-altligi {
    width: 233px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto";
    font-style: normal;
    margin-left: 35px;
    margin-top: 59px;
  }

  .kursa-altligi h4 {
    width: 69.9px;
    height: 18.17px;
    font-weight: 700;
    font-size: 12px;

  }

  .kursa-altligi p {
    width: 86px;
    height: 18px;
    font-weight: 400;
    font-size: 10px;
  }

  .kursa-altligi2 {
    margin-left: 33px;
  }

  .kursa-altligi3 {
    margin-top: 34px;
  }

  .sec1 h2 {
    width: 310.8px;
    height: 43.34px;
    margin-left: 36px;
    margin-top: 76px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  }

  .format-altligi {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 130%;

  }

  .format-altligi h4 {
    color: #1E4681;
    width: 69.9px;
    height: 18.17px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 15px;
  }

  .format-div1 p {
    width: 180px;
    height: 48px;
    font-weight: 400;
    font-size: 10px;
  }

  .format-div2 p {
    width: 165px;
    height: 51px;
    font-weight: 400;
    font-size: 10px;
  }

  .format-div2 h4 {
    width: 100px;
  }

  .format-div3 h4 {
    margin-top: 20px;
  }

  .format-div3 p {
    width: 159px;
    height: 31px;
    font-weight: 400;
    font-size: 10px;
  }

  .sec2 {
    margin-left: 36px;
    font-style: normal;
  }

  .sec2 h2 {
    width: 310.8px;
    height: 43.34px;
    margin-top: 73px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    margin-bottom: 10px;
  }

  .sec2 li {

    width: 299px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }

  .sec3 h2 {
    margin-left: 35px;
    margin-top: 85px;
    margin-bottom: 35px;
    width: 421.7px;
    height: 43.34px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  }

  .sec3-box {
    width: 185.92px;
    margin: 24px auto;
    background: #FFFFFF;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
  }

  .sec3-img {
    width: 185.92px;
    background: url(photo7);
  }

  .sec3-img img {
    width: 100%;
    ;
  }

  .sec3-box h4 {
    width: 170.08px;
    height: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
  }

  .sec3-box p {
    width: 170.08px;
    height: 34px;
    padding-left: 8px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }

  .sec4 {
    
    height: 423px;
    margin-left: -1px;
    background: #EFEFEF;
  }

  .sec4 h2 {
    width: 257px;
    height: 69px;
    padding-top: 42px;
    margin-left: 35px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  }

  .sec4-box {
    width: 308px;
    margin-left: 35px;
    margin-top: 35px;
    background: #FFFFFF;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
  }

  .sec4-p1 {
    width: 266px;
    padding-left: 21px;
    padding-top: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
  }

  .sec4-foto img {
    margin-top: 21px;
    height: 84px;
    padding-left: 21pox;
    background: url(1.png);
  }

  .sec4-box2 {
    display: flex;

  }

  .sec4-ad {
    width: 164.49px;
    margin-left: 13px;
    margin-top: 39px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 101.38%;
  }



  .sec5 {
    width: 100%;
    height: 363.46px;
    background: #9DC9C8;
  }

  .sec5-h2 {
    width: 224px;
    padding-left: 36px;
    padding-top: 62px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  }

  .sec5-p {
    margin-left: 36px;
    margin-top: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  .sec5-span {
    width: 240px;
    font-size: 37px;
  }

  .sec5-box2 {
    display: flex;
    justify-content: last baseline;
  }

  .box2-box1 {
    width: 138px;
    height: 47px;
    margin-left: 34px;
    margin-top: 72px;
    margin-bottom: 62px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
  }

  .footer {
    width: 394px;
    height: 251px;
    background-color: black;
    
  }

  .footer-logo img {
    width: 53px;
    padding-top: 23px;
    margin-left: 37.85px;
  }

  .sosial-sebeke {
    display: flex;
    width: 15.38px;
    height: 15.38px;
    margin-left: 37px;
    margin-top: 14px;
    background: url(noroot4.png);
  }

  .sebeke {
margin-left: 10px;
  }

  .elaqe-nom {
    margin-top: 37px;
  }

  .elaqe-nom a {

    margin-left: 10.83px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 101.38%;
  }

  .elaqe-nom img {
    width: 12.58px;
    height: 12.58px;
    margin-left: 37px;
    background: url(phone_white.png);
  }

  .il {
    color: white;
    margin-left: 37px;
    margin-top: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 101.38%;
  }
}


/* tablet */
@media (min-width: 992px) and (max-width: 1279px) {
  body {
    width: 834px;
    margin: 0 auto;
  }
}

/* desktop */
@media (min-width: 1280px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }
}
