@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Serif+Georgian:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* smartfon  */
@media (min-width: 320px) and (max-width: 991px) {
  body {
    width: 375px;
    margin: 0 auto;
  }

  .basliq1 {
    width: 52.19px;
    height: 30.75px;
    margin: 36px 0px 0px 35px;
  }
  .kalendar-ul {
    margin-top: 44px;
    display: flex;

    list-style-type: none;
  }
  .kalendar li {
    margin-left: 35px;
    font-family: "Roboto";
    margin-left: 10px;
  }
  .kalendar-img {
    width: 10.25px;
    height: 9.79px;
  }
  .basliq-kino h1 {
    font-family: "Roboto Slab";
    width: 292.63px;
    height: 88.53px;
    margin-left: 35.47px;
    margin-top: 8px;
  }
  .basliq-kino p {
    font-family: "Roboto";
    width: 212.4px;
    height: 28.96px;
    margin-left: 35.74px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
  }
  .kino-foto {
    width: 141.66px;
    height: 165.89px;
    margin-left: 201px;
  }
  .andrey {
    background: #1e4681;
    border-radius: 2.32986px;
    width: 225.36px;
    height: 93.19px;
    margin-left: 37.98px;
    margin-top: 47px;
    font-size: 10px;
    font-family: "Roboto";
    font-style: normal;
  }
  .andrey p {
    width: 212.4px;
    height: 28.96px;
    padding: 8px 12px 31px 12px;
    line-height: 150%;
  }
  .andrey span {
    width: 130.7px;
    height: 21.27px;
    padding: 68px 7px 3px 67px;
    line-height: 130%;
  }
  .kurse {
    margin-left: 36px;
    font-style: normal;
  }
  .kurse h2 {
    width: 170.08px;
    height: 43.34px;
    margin-top: 75px;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 26px;
  }
  .kurse p {
    width: 308.47px;
    height: 174.27px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-top: 5px;
  }
  .kurse-img {
    width: 146.32px;
    height: 146.78px;
    margin-left: 114px;
    margin-top: 56px;
  }
  .kursa-altligi {
    width: 233px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto";
    font-style: normal;
    margin-left: 35px; 
    margin-top: 59px;
  }
  .kursa-altligi h4 {
    width: 69.9px;
    height: 18.17px;
    font-weight: 700;
    font-size: 12px;

  }
  .kursa-altligi p {
    width: 86px;
    height: 18px;
    font-weight: 400;
    font-size: 10px;
  }
  .kursa-altligi2{
    margin-left: 33px;
  }
  .kursa-altligi3{
    margin-top: 34px;
  }
}

/* tablet */
@media (min-width: 992px) and (max-width: 1279px) {
  body {
    width: 834px;
    margin: 0 auto;
  }
}

/* desktop */
@media (min-width: 1280px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }
}
